<?php 
// Database configuration 
$host = 'localhost';
$dbname = 'anyspace';
$username = 'anyspace';
$password = '';

// Site localization
$siteName = "AnySpace";
$domainName = "anyspace.3to.moe";

?>